<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace要绑定一个对应的dao/Mapper接口，相当于实现这个接口-->
<mapper namespace="com.example.store.mapper.ProductMapper">
    <resultMap id="productMap" type="com.example.store.entity.Product">
        <id column="id" property="id"></id>
        <result column="category_id" property="categoryId"/>
        <result column="item_type" property="itemType"/>
        <result column="sell_point" property="sellPoint"/>
        <result column="created_user" property="createdUser"/>
        <result column="created_time" property="createdTime"/>
        <result column="modified_user" property="modifiedUser"/>
        <result column="modified_time" property="modifiedTime"/>
    </resultMap>
    <select id="findHostList" resultMap="productMap">
        select *from t_product  WHERE
            status=1 order by priority desc limit 0,4;
    </select>
<!--    通过商品id查询商品明细-->
    <select id="getDetailById" resultMap="productMap">
        select *from t_product
        where id = #{id};
    </select>
</mapper>